.dice {
  width: 100px;
  height: 100px;
  margin-right: 30px;
  padding: 5px;
  border-radius: 7px;
  background: rgba(255, 255, 255, .9);
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, .1);
  border-top: 3px solid rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;

  &:first-child {
    justify-content: center;
    align-items: center;
  }

  &:nth-child(4) {
    flex-direction: column;
  }

  &:nth-child(5) {
    flex-direction: column;
  }

  &:nth-child(6) {
    flex-direction: column;
  }

  &:last-child {
    margin-right: 0;
  }

  &__dot {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, .8);
    border-radius: 50%;

    &_wrapper {
      display: flex;
      justify-content: space-between;
    }

    &_center {
      align-self: center;
    }

    &_end {
      align-self: flex-end;
    }
  }
}