@import "dice.scss";

body {
  background: rgba(0, 0, 0, .8);
  color: white;
}

.container {
  width: 750px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .container {
    width: 90%;
  }
}